* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #111;
}

.chronometer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chron-counter {
    width: 400px;
    height: 80px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    border:none;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

.chron-buttons {
    width: 400px;
    text-align: center;
    margin-top: 25px;
}

.chron-buttons button {
    padding: 5px;
    margin-left: 15px;
    cursor: pointer;
    width: 25%;
    border: none;
    border-radius: 5px;
}

.chron-buttons .btn-pause {
    display: none;
}

.chron-buttons .btn-reset {
    display: none;
}

.chron-buttons button:hover {
    background-color: black;
    color: white;
}